<footer class="site-footer">
    <div class="footer-container">
        <p>&copy; 2025 EVG. All rights reserved.</p>
        <div class="social-media">
            <a href="#"><img src="/images/facebook.webp" alt="Facebook"></a>
            <a href="#"><img src="/images/twitter.webp" alt="Twitter"></a>
            <a href="#"><img src="/images/instagram.webp" alt="Instagram"></a>
        </div>
    </div>
</footer>
</body>

</html>