<%- include('./partials/header.ejs')%> 

    <main class = "main-content">
        <h1><%= error.status%> Error</h1> 
        <p><%= error.message%> </p>
        <a href="/">Go Back to Home</a>
    </main>
<%- include('./partials/footer.ejs')%> 