<%- include('./partials/header.ejs') %>
    <main class="main-content">
        <section class="intro">
            <h1>Welcome to EVG - Every Video Game</h1>
            <p>This is your one-stop-shop for finding and selling video games. Browse our featured categories, check out
                the latest listings, or post your own item for sale.</p>
        </section>
        <a href="/items" class="btn browse-btn">Browse &rarr;</a>
    </main>
<%- include('./partials/footer.ejs') %>
